{{>head}}
{{>menu}}
<div class="row">
    <div class="col-8">
        <h1> Parrafo con h1 </h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="/img/Paisaje.jpg" class="img-thumbnail"
    </div>
</div>